section.contact {
  font-family: "Fira Sans", sans-serif;
}

.contact-form {
  max-width: 600px;
  margin: 10rem auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 10px;
  padding: 10px 15px;
  background: #35424a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #455a64; 
}

h4.contact {
  text-align: center;
  font-weight: normal;
}
article.send-message {
  display: flex;
  justify-content: center;
}

article.send-message button {
  font-family: "Fira Sans", sans-serif;
}