.header {
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links.mobile {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links.open {
    display: flex;
  }
  .social-links {
    margin-top: 10px;
  }

  .social-links.desktop {
    display: none;
  }

  .social-links.mobile {
    display: flex;
  }
}
